<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
    </root>

    <logger name="TestLogger">
      <level value="ALL" />
      <appender-ref ref="TestLoggerAppender" />
    </logger>

    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger: %date{HH:mm:ss} --- %message [ %class.%-M(),%line ] %newline" />
      </layout>
    </appender>

    <!--<appender name="TestLoggerAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="TestLog" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="-MM.dd.yyyy.\l\o\g" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger: [%thread][%-5p] %date{HH:mm:ss} - %message [ %class.%-M(),%line ]%newline" />
      </layout>
    </appender>-->

  </log4net>
</configuration>